/* PAGE RULES */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
.contained{
    max-width: 1200px;
    margin: auto;
    position: relative;
}
.inline-block{
    display: inline-block;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
a{
    text-decoration: none;
}
.white{
    color: white;
}
/* ////GENERAL RULES */
/* HEADER SECTION */
    header{
        background-color: rgb(49, 97, 224);
        text-align: center;
        /* border: solid black 5px; */
    }
    header .contained{
        padding: 20px 0px;
    }
    header .logo{
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(0, 50%);
    }
    header button{
        border: none;
        padding: 10px;
        border-radius: 17px;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(0, 50%);
    }
    header li{
        margin:0 20px;
    }
    header .banner{
        width: 100%;
        position: relative;
    }
    header .banner>img{
        display: block;
        width: 100%;
    }
/* ////HEADER SECTION */