/* PAGE RULES */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
.contained{
    max-width: 1200px;
    margin: auto;
    position: relative;
}
.inline-block{
    display: inline-block;
}
.clearfix::after{
    content: "";
    clear: both;
    display: table;
}
a{
    text-decoration: none;
}
.white{
    color: white;
}
button{
    border: none;
    padding: 10px 15px;
    border-radius: 17px;
}
/* ////GENERAL RULES */
/* HEADER SECTION */
header{
    background-color: rgb(37, 94, 233);
    text-align: center;
    /* border: solid black 5px; */
}
header .contained{
    padding: 25px 0px;
    height: 110px;
    line-height: 30px;
    vertical-align: middle;
}
header .logo{
    float: left;
}
header .contained .bottone-nav{
    float: right;
}
header li{
    margin:0 20px;
}
header .banner{
    width: 100%;
    position: relative;
}
header .banner>img{
    display: block;
    width: 100%;
}
header .banner-text{
    width: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
}
header .banner-text>p{
    margin:20px 0;
}
.banner-text>.button{
    width: 100%;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%,0 );
}
.banner-text>.button>button{
    transform: scale(1.3);
    margin-right: 75px;;
}
#browser_discord_button{
    background-color: rgb(35, 39, 42);
}
header .banner-text button i{
    display: inline-block;
    margin-right: 4px;
}
/* ////HEADER SECTION */

/* MAIN SECTION */
main section .contained{
    text-align: left;
    padding:100px;
}
main section .contained .img-float{
    width: 550px;
    float: left;
    margin-right: 0px;
}
main section .contained .section-text{
    width: 350px;
    float: right;
    text-align: left;
    font-size: 1.5rem;
}
main section .contained .section-text p{
    padding-top: 25px;
}
#second-section .contained img{
    float: right;
}
#second-section .contained .section-text{
    float: left;
}
#second-section, #bottom-section{
    background-color: rgba(0, 0, 0, 0.2);
}
main .wave{
    position: relative;
    display: block;
    opacity: 0.2;
    width: 100%;
    height: 100px;
}
img.flip{
    /* filter:invert(100%); */
    transform: rotateX(3.14rad);
}
#bottom-section .contained .section-text{
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
}
#bottom-section .contained img{
    margin-top: 50px;
    width: 100%;
}
/* ////MAIN SECTION */